* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.xyz {
  width: 100%;
  background-color: brown;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.xyz1 {
  width: 80%;
  height: 100%;
  display: flex;
  background-color: aqua;
  /* gap: 30px; */
  /* justify-content: center; */
  margin: auto
}

.xyz1 img {

  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

.hotellunarss {
  font-size: 1.5rem;
  line-height: 0.9rem;
}

.hideenscrollmain::-webkit-scrollbar {
  width: 0px;
  height: 100vh;
}

.slider-image {
  width: 100%;
  height: auto;
}

@media (min-width: 320px) {
  .slider-image {
    width: 700px;
    height: 1000px;
  }
}

@media (min-width: 768px) {
  .slider-image {
    width: 700px;
    height: 600px;
  }
}

@media (min-width: 1024px) {
  .slider-image {
    width: 400px;
    height: 400px;
  }
}